#scroll-horizontally {
    display       : flex;
    padding-bottom: 20px;
    /* Scroll bar */
    height        : 520px;
    overflow-x    : auto;
    overflow-y    : hidden;
}

#char-imgs-container {
    display          : flex;
    align-items      : flex-end;
    height           : 500px;
    white-space      : nowrap;
    background-image : url("assets/bg.png");
    background-repeat: repeat;
}

.char-img {
    height: calc(var(--height, 155)*2.5px);
    opacity: 70%;
}

.char-img.selected {
    opacity: 100%;
}

#largeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-image-container {
    width: 230px;
    height: 345px;
}